/* Estilo para la tarjeta que contiene el mapa */
#map {
  height: 400px !important;
}

/* Si quieres cambiar el fondo o añadir otras propiedades */
#map .card-header {
  background-color: #f0f0f0;
}

/* Para cambiar la tarjeta en general, usando su clase */
.shiny-card {
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
